.droppable-element {
    border:1px solid gray;
    background-color: #f3f3f3;
    padding:10px;
    cursor:move;
    width:80px;
    margin: 50px ;
    text-align:center;
    align:center;
    border-radius: 5px;
}